body {
  font-family: Arial, sans-serif;
  background-color: #1e293b;
  color: #f1f5f9;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}


.encabezado {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #f43f5e;
  font-size: 2.5rem;
}

.subtitulo {
  color: #a1a1aa;
  font-style: italic;
}


.referencias ol {
  padding-left: 25px;
  line-height: 1.7;
}

.referencias li {
  margin-bottom: 15px;
  text-align: justify;
}

a {
  color: #60a5fa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
