body {
  font-family: 'Inter', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f1f5f9;
  min-height: 100vh;
  background-color:#1e293b
}

h1, h2 {
  font-style: italic;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8),
               0 0 20px rgba(0, 0, 255, 0.5);
}

h1 {
  color: #f43f5e;
}

h2 {
  color: #3b82f6;
}

img {
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}


a:hover {
  color: #facc15;
  text-shadow: 0 0 8px #f87171;
}

.link-card {
  background: rgba(15, 23, 42, 0.85);
  border: 1px solid rgba(239, 68, 68, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.link-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 0 25px rgba(239, 68, 68, 0.5);
}
.cita {
  font-weight: bold;
  color: #60a5fa; 
}
